:root {
	--background-colour: rgb(14, 14, 14);
	color-scheme: dark;
}

button, input {
	font-size: large;
}

body {
	background-color: var(--background-colour);
	text-align: center;
	font-size: x-large;
	overflow-x: hidden;
}
