:root {
	color-scheme: dark;
}

/* Modifying multiple elements */

button, input {
	font-size: large;
}

/* Modifying individual elements */

body {
	text-align: center;
	font-size: x-large;
	overflow-x: hidden;
}

div div {
	margin-top: 0.25em;
}

nav {
	margin-bottom: 0.1em;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	display: inline;
}
