nav {
	margin-bottom: 0.1em;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	display: inline;
}

.control-panel {
	position: sticky;
	top: 0;
}

.control-panel {
	background-color: canvas;
}

.control-panel div:has(label) {
	display: inline-block;
}

label {
	display: block;
}

/* Solution to the "no new line" bug : https://stackoverflow.com/questions/9980416/how-can-i-insert-new-line-carriage-returns-into-an-element-textcontent */
code {
	white-space: pre;
}

@media print {
	:root {
		color-scheme: light;
	}

	header, .control-panel {
		display: none;
	}
}
