div div {
	margin-top: 0.25em;
}

nav {
	margin-bottom: 0.1em;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	display: inline;
}

.controls {
	background-color: var(--background-colour);
	position: sticky;
	top: 0;
}

.controls div:has(label) {
	display: inline-block;
}

label {
	display: block;
}

/* Solution to the "no new line" bug : https://stackoverflow.com/questions/9980416/how-can-i-insert-new-line-carriage-returns-into-an-element-textcontent */
code {
	white-space: pre;
}

@media print {
	:root {
		color-scheme: light;
	}

	header, .controls {
		display: none;
	}
}
